
node_modules/
/.pnp
.pnp.js

/coverage

/build
/dist

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/


.expo/
.expo-shared/

.npm


.eslintcache

.cache/
*.tgz
.parcel-cache
